@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* !dont touch me */
html , body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1e;
}

.container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #dbcdf0;
    border-radius: .5rem;
}

.container .header {
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .75rem .5rem;
    background-color: #e9ecef;
    border-radius: .5rem .5rem 0 0;
}

/** fontawesome style **/
.container .header i{
    font-size: 9px;
    transition: .5s all;
}

/** Red Dot Codes **/
.container .header i[id="red-dot"]{
    color: #FF605C;
}
.container .header i[id="red-dot"]:hover{
    color: #b1413f;
}
/** Yellow Dot Codes **/
.container .header i[id="yellow-dot"]{
    color: #FFBD44;
}
.container .header i[id="yellow-dot"]:hover{
    color: #a0772a;
}
/** Green Dot Codes **/
.container .header i[id="green-dot"]{
    color: #00CA4E;
}
.container .header i[id="green-dot"]:hover{
    color: #00792e;
}

/** Content **/

.container .content{
    margin: 2rem auto;
    border-radius: 0 0 .25rem .25rem;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

.container .content .title p{
    font-weight: 600;
    text-align: center;
    font-size: 32px;
}

.container .content input{
    outline: none;
    border: none;
    border-radius: .25rem;
    height: 32px;
    width: 100%;
    padding: 0 .5rem;
}

.container .content .person{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container .content .message-subject select{
    width: 100%;
    height: 32px;
    outline: none;
    border: none;
    transition: .1s all;
}

textarea{
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}

.container .content .verification{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .content .verification img{
    width: 48px;
}

.container .content .verification input{
    width: 32px;
}

.container .content .verification .recaptcha label{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: .25rem .75rem;
    border: 1px solid #adb5bd;
    background-color: #e9ecef;
    cursor: pointer;
}